body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #090909;
    line-height: 1.15;
    margin: 25px 50px 25px 50px;
    background-color: #FBFBFF;
}

/* Top Container Styling */
.topContainer {
    display: flex;
    gap: 15px;
    padding: 10px;
}

#userInput {
    flex: 1;
    line-height: 1.5;
    padding: 10px 10px 15px 10px;
    background-color: #7C9885;
}

#jobMap {
    flex: 3;
    height: 500px;
    border-width: 1px;
    background-color: #E8EDEA;
}

/* map legend */
.info.legend {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.info.legend i {
    width: 30px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

/* Bottom Container styling */  
.graphs {
    display: flex;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

.graphs > div {
    flex: 1 1 calc(25% - 15px); /* Take up 1/4 of the container width, accounting for gap */
    background-color: #E8EDEA;
    border-color: #474350;
    border-width: 2px;
}

.graphs a:hover {
    color: #FECDAA;
}

#jobTable {
    flex: 2 1 calc(50% - 10px); /* Take up 50% of the container width */
}

.stack {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 10px;
}

.stack > div {
    background-color: #E8EDEA;
    border-color: #474350;
    border-width: 2px;
    flex: 1 ;
}